.btn {
  margin-right: 30px;
}

#wood {
  width: 100vmax;
  height: 100vh;
  position: fixed;
}
#coins {
  width: 300px;
  height: auto;
  position: fixed;
  bottom: 0;
  left: 0;
}
#dagger {
  width: 250px;
  height: auto;
  position: fixed;
  top: 35px;
  right: 0;
}
