body {
  padding: 0px;
}

.glass {
  background: linear-gradient(
    to right bottom,
    rgba(207, 182, 138, 0.95),
    rgba(61, 52, 37, 0.9)
  );
}

.divHead {
  margin-top: 100px;
}

.delete-btn {
  float: right;
  color: #e74944;
}

.bookImage {
  height: auto;
  width: 150px;
}

.text-wrap {
  word-wrap: break-word;
}

.save-btn {
  float: right;
  color: #e74944;
}
